<!DOCTYPE html>
<html>
<head>	
</head>
<body>
	<% rows.forEach(function(anuncio){ %>
 	<p><b>Nombre:</b><%= anuncio.nombre %> <b>Venta:</b><%= anuncio.venta %> <b>Precio:</b><%= anuncio.precio %> <b>Tags:</b><%= anuncio.tags %></p>
 	<img src=<%= anuncio.foto %> alt="">
	<% }) %>
</body>
</html>